<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Search Papers</title>
</head>
<body>
    <h1> Aplicación para buscar papers </h1>
    <form class="form-query">
        <!-- <label for="quey">write your query here</label> -->
        <input class="in-query" type="text" id="query" name="query" placeholder="write your query here"><br><br>
        
        <!-- <label for="topK">Top K</label> -->
        <div class="inline">
        <input class="in" type="text" id="topk" name="topk" placeholder="Top K"><br><br>
        
        <input class="in" id="submit" type="submit" value="Search">
        </div>
    </form>

    <div class="muestra">
        <div class="resultado">
            <div class="h3 text-center font-weight-bold">Top K - Python</div>
            <div class="tablaa">
                <table id="resultado-p" class="table mt-2 table bordered table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>atributo1</th>
                            <th>atributo2</th>
                            <th>atributo3</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ob in objetos %}
                            <tr class="text-center">
                                <td>{{ objeto.a }}</td>
                                <td>{{ objeto.b }}</td>
                                <td>{{ objeto.c }}</td>
                            </tr>  
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p> Tiempo: {{ tiempo_y }}</p>
        </div>
        <div class="resultado">
            <div class="h3 text-center font-weight-bold">Top K - BDD</div>
            <div class="tablaa">
            <table id="resultado-b" class="table mt-2 table bordered table-striped">
                <thead>
                    <tr class="text-center">
                        <th>atributo1</th>
                        <th>atributo2</th>
                        <th>atributo3</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ob in objetos %}
                        <tr class="text-center">
                            <td>{{ objeto.a }}</td>
                            <td>{{ objeto.b }}</td>
                            <td>{{ objeto.c }}</td>
                        </tr>  
                    {% endfor %} 
                </tbody>
            </table>  
            </div>
            <p> Tiempo: {{ tiempo_b }}</p>
        </div>
    </div>

</body>
</html>